body{
    background-color: rgb(255, 225, 127);
}
p{
    color:blue
    font-style: italic;
}
}
title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-style:initial; 
}
video{
    align-items: center;
}