body{
    font-family: Arial, sans-serif;
    background-color: lab(88.14% -33.86 66.84);
    margin: 0;
    padding: 0;
}
h1{
    color: #165edc;
    font-size: 16px;
    line-height: 1.5;
}
