 .logo img {
     width: 164px;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: "Segoe UI";
 }

 .right ul {
     display: flex;
     gap: 34px;
 }

 .right ul li {
     list-style: none;
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .right ul li span {
     padding: 0 5px;
 }

 h1 {

     font-size: 49px;
     padding-top: 40px;
     display: flex;
     align-content: center;
     justify-content: center;
     list-style: none;
     color: rgb(3, 3, 22);

 }



 .btn {

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     list-style: none;
     background-color: #ffcf23;
     color: #2e2e2e;
     padding: 12px 22px;
     font-weight: 500;
     border-radius: 6px;
     transition: all .4s ease-in-out;
     cursor: pointer;

 }

 section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     list-style: none;
     background-color: #ffffff;
     color: #2e2e2e;
     padding: 12px 22px;
     font-weight: 500;
     border-radius: 6px;
     transition: all .4s ease-in-out;
     gap: 20px;
     margin: 50px;
 }
 span{
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
 }

 .second {
     gap: 20px;
     padding: 20px;
 }

 .btn1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 14px;
     list-style: none;
     background-color: #21a0f0;
     color: #000000;
     padding: 12px 22px;
     font-weight: 500;
     border-radius: 6px;
     transition: all .4s ease-in-out;
     cursor: pointer;
 }

 .item {
    background-color: #ffe37e;
    color: #000000;
     padding: 30px;
     border-radius: 12px;
 }

 .item-lang {
     padding: 23px;
     text-align: center;
     font-weight: 700;
     color: #000000;
     cursor: pointer;
 }
 .grid{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
    
    ;

 }
 p{
    display: flex;
    justify-content: center;
    align-items: center;
 }